@import url('https://fonts.googleapis.com/css2?family=Outfit');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #D5E1EFff;
  font-family:'Outfit';
}

main{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#container{
  
  background-color: #FFFFFFff;
  text-align: center;
  width: 360px;
  border-radius: 1rem;
  padding: 1rem;
}
img{
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

h1{
  font-size: 1.6rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  padding: 2.5rem,;
}

p{
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  padding: 1.8rem;
}

.attribution{
  margin-top: 2px;
  font-size: 11px; text-align: center;
}
.attribution a{
  color: hsl(228, 45%, 44%);
}